﻿{% extends "home/home.html" %}
{% import "common/home_page.html" as pg %}
{% block content %}
<div id="main">
<div id="content">
  <div class="container">
    <div class="tabs_wrapper tabs1_wrapper">
      <div class="tabs tabs2">
        <div class="tabs_content tabs1_content">
            <div id="tabs-1">
              {% include "home/search_box.html" %}
              <div class="row">
                <div class="col-sm-12">
                  {% if not page_data %}
                    <div class="txt1" style="padding: 20px">没有符合条件的景区，请重新查询</div>
                  {% else %}
                  <div class="row">
                    {% for v in page_data.items %}
                    <div class="col-sm-4">
                      <div class="thumb4">
                        <div class="thumbnail clearfix">
                          <figure>
                            <img src="{{url_for('static',filename='uploads/'+ v.logo)}}" height='240px' class="img-responsive">
                          </figure>    
                          <div class="caption">
                            <div class="txt1">{{ v.title }}</div>
                            <div class="txt3 clearfix">
                              <div class="left_side">
                                <div class="nums">{{ v.address }}</div>
                              </div>
                              <div class="right_side"><a href="{{url_for('home.info',id=v.id)}}" class="btn-default btn1">查看</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page" style="text-align: center;">
      {{ pg.page(page_data,'home.search') }}
    </div>
  </div>
</div>

{% endblock %}